// HEADER
.main-header {
    grid-template-columns: 1fr 2fr;
}

// BUTTON
.addbtn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// FORM
.add-form {
    position: absolute;
    right: 20px;
    bottom: 100px;
}